<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soon</title>
  </head>
  <body>
    <%- include('partials/header'); -%>
    <div class="content">
      <svg width="356" height="136" viewBox="0 0 3563 1361" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M749.5 345H2764L2611 528.75L2915 697.5L2611 828.25L2855 1000H779.5L902.125 828.25L744.5 697.5L953 528.75L749.5 345Z" fill="#00E0FF"/>
        <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="744" y="345" width="2171" height="655">
        <path d="M749.5 345H2764L2611 528.75L2915 697.5L2611 828.25L2855 1000H779.5L902.125 828.25L744.5 697.5L953 528.75L749.5 345Z" fill="#00E0FF"/>
        </mask>
        <g mask="url(#mask0)">
        <rect x="664" y="319.082" width="151" height="771" transform="rotate(-15 664 319.082)" fill="#0FC5FF"/>
        <rect x="1054" y="319.082" width="151" height="771" transform="rotate(-15 1054 319.082)" fill="#0FC5FF"/>
        <rect x="2374" y="319.082" width="151" height="771" transform="rotate(-15 2374 319.082)" fill="#0FC5FF"/>
        <rect x="2174" y="319.082" width="151" height="771" transform="rotate(-15 2174 319.082)" fill="#0FC5FF"/>
        <rect x="2564" y="319.082" width="151" height="771" transform="rotate(-15 2564 319.082)" fill="#0FC5FF"/>
        <rect x="864" y="319.082" width="151" height="771" transform="rotate(-15 864 319.082)" fill="#0FC5FF"/>
        </g>
        <path d="M1432.87 580.412L1404.67 552.214C1392.95 563.933 1378.79 569.792 1362.19 569.792C1345.71 569.792 1331.67 563.933 1320.07 552.336C1308.36 540.617 1302.5 526.457 1302.5 509.978C1302.5 493.62 1308.36 479.46 1320.07 467.619C1331.55 455.9 1345.71 450.041 1362.31 450.041C1378.67 450.041 1392.71 455.9 1404.67 467.619L1432.87 439.421C1416.51 423.674 1392.34 410.246 1362.07 410.246L1362.19 409.636C1334.84 409.636 1311.29 419.523 1291.75 439.055C1272.22 458.83 1262.46 482.39 1262.46 509.733C1262.46 537.321 1272.22 560.759 1291.75 580.29C1311.16 599.577 1334.6 609.343 1362.07 609.343C1392.83 609.343 1416.75 596.403 1432.87 580.412ZM1527.59 409.636C1500.13 409.636 1476.57 419.523 1457.04 439.055C1437.51 458.83 1427.74 482.39 1427.74 509.733C1427.74 537.321 1437.51 560.759 1457.04 580.29C1476.45 599.577 1500.01 609.343 1527.59 609.343C1555.06 609.343 1578.62 599.699 1598.15 580.29C1617.68 560.881 1627.57 537.321 1627.57 509.733C1627.57 482.268 1617.68 458.708 1598.15 439.055C1578.5 419.523 1554.94 409.636 1527.59 409.636ZM1527.47 449.553C1543.95 449.553 1557.99 455.412 1569.71 467.131C1581.55 478.972 1587.41 493.132 1587.41 509.611C1587.41 526.213 1581.55 540.251 1569.71 551.97C1557.99 563.566 1543.83 569.426 1527.47 569.426C1510.87 569.426 1496.83 563.566 1485.11 551.97C1473.39 540.251 1467.54 526.091 1467.54 509.611C1467.54 493.254 1473.39 479.094 1485.11 467.253C1496.71 455.534 1510.87 449.553 1527.47 449.553ZM1644.54 406.584V608H1684.09V526.457L1740.97 604.826L1797.74 526.457V608H1837.29V406.584L1740.97 538.786L1644.54 406.584ZM1861.82 608H1901.37V411.223H1861.82V608ZM1925.79 407.072V608.244H1965.34V498.991L2083.99 612.028V410.734H2044.32V519.987L1925.79 407.072ZM2200.81 409.636C2173.22 409.636 2149.66 419.523 2130.38 439.055C2110.85 458.83 2101.08 482.39 2101.08 509.733C2101.08 537.443 2110.85 561.003 2130.38 580.412C2149.66 599.821 2173.1 609.587 2200.81 609.587C2228.16 609.587 2251.71 599.821 2271.37 580.412C2290.78 561.003 2302.86 534.392 2300.05 497.648H2198.98V535.368H2255.13C2246.47 553.801 2226.69 569.792 2201.18 569.792C2184.58 569.792 2170.42 563.933 2158.94 552.214C2147.22 540.495 2141.36 526.335 2141.36 509.855C2141.36 493.254 2147.22 479.216 2158.94 467.497C2170.54 455.656 2184.58 449.797 2201.18 449.797C2217.29 449.797 2231.45 455.656 2243.41 467.497L2271.61 439.299C2255.5 423.43 2231.21 410.124 2200.93 410.124L2200.81 409.636ZM1359.72 879.167C1344.17 879.167 1327.42 866.521 1327.42 851.14L1272.56 862.932C1278.72 903.947 1317.34 935.222 1359.89 935.222C1406.38 935.222 1448.08 897.624 1448.08 851.14C1448.08 812.858 1417.32 786.369 1382.62 776.286C1363.48 770.646 1332.04 763.981 1332.04 739.201C1332.04 723.991 1344.68 711.174 1360.06 711.174C1375.27 711.174 1387.92 723.991 1387.92 739.03L1442.95 727.409C1437.14 686.564 1402.11 655.119 1359.72 655.119C1313.24 655.119 1275.64 692.546 1275.64 739.03C1275.64 776.628 1305.21 804.143 1338.87 815.593C1357.84 822.258 1391.68 825.676 1391.68 850.798C1391.68 866.179 1374.76 878.825 1359.55 878.825L1359.72 879.167ZM1601.71 655.29C1563.26 655.29 1530.28 669.133 1502.94 696.477C1475.59 724.162 1461.92 757.146 1461.92 795.427C1461.92 834.05 1475.59 866.862 1502.94 894.206C1530.11 921.208 1563.09 934.88 1601.71 934.88C1640.17 934.88 1673.15 921.379 1700.49 894.206C1727.84 867.033 1741.68 834.05 1741.68 795.427C1741.68 756.975 1727.84 723.991 1700.49 696.477C1672.98 669.133 1640 655.29 1601.71 655.29ZM1601.54 711.174C1624.62 711.174 1644.27 719.377 1660.67 735.783C1677.25 752.36 1685.46 772.185 1685.46 795.256C1685.46 818.498 1677.25 838.151 1660.67 854.558C1644.27 870.793 1624.44 878.996 1601.54 878.996C1578.3 878.996 1558.65 870.793 1542.24 854.558C1525.84 838.151 1517.63 818.327 1517.63 795.256C1517.63 772.355 1525.84 752.531 1542.24 735.954C1558.48 719.548 1578.3 711.174 1601.54 711.174ZM1894.98 655.29C1856.52 655.29 1823.54 669.133 1796.2 696.477C1768.85 724.162 1755.18 757.146 1755.18 795.427C1755.18 834.05 1768.85 866.862 1796.2 894.206C1823.37 921.208 1856.35 934.88 1894.98 934.88C1933.43 934.88 1966.41 921.379 1993.76 894.206C2021.1 867.033 2034.94 834.05 2034.94 795.427C2034.94 756.975 2021.1 723.991 1993.76 696.477C1966.24 669.133 1933.26 655.29 1894.98 655.29ZM1894.81 711.174C1917.88 711.174 1937.53 719.377 1953.94 735.783C1970.51 752.36 1978.72 772.185 1978.72 795.256C1978.72 818.498 1970.51 838.151 1953.94 854.558C1937.53 870.793 1917.71 878.996 1894.81 878.996C1871.56 878.996 1851.91 870.793 1835.5 854.558C1819.1 838.151 1810.89 818.327 1810.89 795.256C1810.89 772.355 1819.1 752.531 1835.5 735.954C1851.74 719.548 1871.56 711.174 1894.81 711.174ZM2058.7 651.701V933.342H2114.07V780.388L2280.18 938.64V656.828H2224.64V809.782L2058.7 651.701Z" fill="#080E2F"/>
        <path d="M2888 414C3095 331 3125 437 3296.5 384C3468 331 3358.76 45.7239 3174 146.5C3071.5 202.409 3150 337 3174 301.5" stroke="#0FC5FF" stroke-width="42" stroke-linecap="round"/>
        <path d="M3046.44 890.388C3186.9 990.977 3185.93 886.634 3305.37 960.514C3424.81 1034.39 3272.51 1265.47 3152.33 1159.68C3085.66 1100.98 3129.95 1053.37 3170.07 1048.85" stroke="#0FC5FF" stroke-width="42" stroke-linecap="round"/>
        <path d="M3036 668.5C3172 668.5 3272.5 568 3521 668.5" stroke="#0FC5FF" stroke-width="42" stroke-linecap="round"/>
        <path d="M678.493 355.371C458.029 322.132 453.225 432.229 274.197 420.04C95.1684 407.851 135.83 104.997 338.742 160.655C451.315 191.533 405.904 340.613 374.392 311.565" stroke="#0FC5FF" stroke-width="42" stroke-linecap="round"/>
        <path d="M521.162 923.296C407.585 1053.48 384.548 951.712 285.288 1051.07C186.029 1150.43 387.383 1340.31 480.017 1209.72C531.41 1137.26 477.362 1101.12 437.272 1105.94" stroke="#0FC5FF" stroke-width="42" stroke-linecap="round"/>
        <path d="M592.853 636.593C460.496 667.86 339.927 594.617 120.844 748.097" stroke="#0FC5FF" stroke-width="42" stroke-linecap="round"/>
        </svg>
          
        
      <div class="Coming-Soon-Message">This Page is Coming Soon. Have some watermelons until then :D </div>
    </div>
    <footer>BRYTE© - 2021 Copyrights Reserved</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  </body>
</html>
