<%- include('partials/header'); -%>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Log in</title>
  </head>
  <body>
   
    <div class="content">
      <form class="signUP-form dev" id="form">
        <div class="signUP-form-Cont-1">
            <div class="UnderLineTitle TitleAbove">Change Password</div>
            <svg width="461" height="14" viewBox="0 0 461 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="230.5" cy="4.5" r="3.5" stroke="#4B90F6" stroke-width="2"/>
                <g filter="url(#filter0_d)">
                <line x1="237" y1="4.5" x2="456" y2="4.49998" stroke="url(#paint0_linear)"/>
                </g>
                <g filter="url(#filter1_d)">
                <line x1="224" y1="4.5" x2="5" y2="4.49998" stroke="url(#paint1_linear)"/>
                </g>
                <defs>
                <filter id="filter0_d" x="232" y="2.99998" width="229" height="11" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2.5"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                </filter>
                <filter id="filter1_d" x="0" y="2.99998" width="229" height="11" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2.5"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                </filter>
                <linearGradient id="paint0_linear" x1="237" y1="5.99266" x2="456" y2="5.99265" gradientUnits="userSpaceOnUse">
                <stop stop-color="#4B90F7"/>
                <stop offset="1" stop-color="#4B90F7" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="paint1_linear" x1="224" y1="3.00734" x2="5" y2="3.00731" gradientUnits="userSpaceOnUse">
                <stop stop-color="#4B90F7"/>
                <stop offset="1" stop-color="#4B90F7" stop-opacity="0"/>
                </linearGradient>
                </defs>
                </svg>
                
          <div class="Input-Cont">
            <div class="Label-text">Old Password</div>
            <div class="Input-Stylizer">
              <input type="password" class="Input-text" required id="oldPass"/>
              <div id="oldPassError" class="error-msg"></div>
            </div>
          </div>
          <div class="Input-Cont">

              <div class="Label-text">New password</div>
              <div class="Input-Stylizer">
                <input type="password" class="Input-text" required id="newPass" />
              </div>
            </div>
            <div class="Input-Cont">

              <div class="Label-text">Confirm new assword</div>
              <div class="Input-Stylizer">
                <input type="password" class="Input-text" required  id="confirmPass"/>
                <div id="confirmPassError" class="error-msg"></div>
              </div>
            </div>

          <button
            type="submit"
            form="form"
            value="Submit"
            class="signUP dev"
            id="Complete-dev">
            Change Password
            
          </button>
        </div>
      </form>
    </div>
    <footer>BRYTE© - 2021 Copyrights Reserved</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <% if (role == "div") { %>
    <script>
      document.querySelector("#form").addEventListener("submit", async(e)=>{
        e.preventDefault();

        const oldPass = document.querySelector("#oldPass").value;
        const newPass = document.querySelector("#newPass").value;
        const confirmPass = document.querySelector("#confirmPass").value;

        const oldPassError = document.querySelector('#oldPassError');
        const confirmPassError = document.querySelector("#confirmPassError");
        
        oldPassError.textContent = "";
        confirmPassError.textContent = "";

        if (newPass == confirmPass)
        {

          let res = await fetch('/change-password', {
          method: 'POST',
          body: JSON.stringify({ oldPass, newPass }),
          headers: { 'Content-Type': 'application/json' }
        });

          res = await res.json();

          if (res)
          {
            location.assign('/');
          }

          else
          {
            oldPassError.textContent = "Incorrect Password";
          }
          
        }
        else{
          confirmPassError.textContent = "Password and Confirm Passward Don't Match";
        }
      });
    </script>
    <% } else {%>
      <script>
        document.querySelector("#form").addEventListener("submit", async(e)=>{
        e.preventDefault();

        const oldPassError = document.querySelector('#oldPassError');
        const confirmPassError = document.querySelector("#confirmPassError");
        
        oldPassError.textContent = "";
        confirmPassError.textContent = "";

        const oldPass = document.querySelector("#oldPass").value;
        const newPass = document.querySelector("#newPass").value;
        const confirmPass = document.querySelector("#confirmPass").value;

        if (newPass == confirmPass)
        {

          let res = await fetch('/client-change-password', {
          method: 'POST',
          body: JSON.stringify({ oldPass, newPass }),
          headers: { 'Content-Type': 'application/json' }
        });

          res = await res.json();
          if (res)
          {
            location.assign('/');
          }
          else
          {
            oldPassError.textContent = "Incorrect Password";
          }
          
        }
        else{
          confirmPassError.textContent = "Password and Confirm Passward Don't Match";
        }

        });
        </script>
        <% } %>
  </body>

