<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="SignUP.css" />
    <title>Sign Up</title>
  </head>
  <body>
    <%- include('partials/header'); -%>
    <div class="content">
      <div class="Cont-Block dev">
        <div class="Head dev">
          <img class="dev" src="assets/003736e340f58f47e44ba4a55b02eb90.png" />
          <h1 class="title dev">DEVELOPERS</h1>
        </div>
        <p class="desc dev">
          Bring together your projects, Explore others’, Practice & Compete,
          Learn & Fill in the gaps and build a &emsp;&emsp; portfolio that
          rocks.
        </p>
        <button class="signUP dev" id="sign-up-dev">
          Sign up as a Developer
        </button>
      </div>
      <div class="Cont-Block cli">
        <div class="Head cli">
          <svg
            class="cli"
            width="100"
            height="100"
            viewBox="0 0 100 100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="100" height="100" fill="url(#paint0_linear)" />
            <path
              d="M50 17L57 14L59 23.5L50 27.5L55 32L61 75L49.5 87L39 75L45 32L50 27.5L41 23.5C41 23.5 43 16.1479 43 14L50 17Z"
              fill="#020F22"
            />
            <defs>
              <linearGradient
                id="paint0_linear"
                x1="0"
                y1="100"
                x2="100"
                y2="0"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#CBFF0B" />
                <stop offset="1" stop-color="#02F38D" />
              </linearGradient>
            </defs>
          </svg>
          <h1 class="title cli">CLIENTS</h1>
        </div>
        <p class="desc cli">
          BRYTE has many experienced developers in the industry. Look for and
          hire the best for your business, or organize competitions the way it
          fits the requirements
        </p>
        <button class="signUP cli" id="sign-up-client">
          Sign up as a Client
        </button>
      </div>
      <div class="UnderLineTitle TitleAbove">Account Info</div>
      <svg
        class="UnderLineTitle"
        width="646"
        height="17"
        viewBox="0 0 646 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="6.5" cy="6.5" r="6.5" fill="#4B90F7" />
        <circle cx="23.5" cy="6.5" r="5.5" stroke="#4B90F7" stroke-width="2" />
        <g filter="url(#filter0_d)">
          <line
            x1="36"
            y1="7.5"
            x2="641"
            y2="7.49995"
            stroke="url(#paint3_linear)"
          />
        </g>
        <defs>
          <filter
            id="filter0_d"
            x="31"
            y="5.99995"
            width="615"
            height="11.0001"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feColorMatrix
              in="SourceAlpha"
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            />
            <feOffset dy="4" />
            <feGaussianBlur stdDeviation="2.5" />
            <feColorMatrix
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"
            />
            <feBlend
              mode="normal"
              in2="BackgroundImageFix"
              result="effect1_dropShadow"
            />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="effect1_dropShadow"
              result="shape"
            />
          </filter>
          <linearGradient
            id="paint3_linear"
            x1="36"
            y1="8.99266"
            x2="641"
            y2="8.99266"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#4B90F7" />
            <stop offset="1" stop-color="#4B90F7" stop-opacity="0" />
          </linearGradient>
        </defs>
      </svg>
      <form class="signUP-form dev" id="form">
        <div class="signUP-form-Cont-1">
          <div class="Name-Cont">
            <div class="Input-Cont">
              <div class="Label-text">First Name</div>
              <div class="Input-Stylizer">
                <input type="text" class="Input-text" required name="Fname"/>
              </div>
            </div>
            <div class="Input-Cont">
              <div class="Label-text">Last Name</div>
              <div class="Input-Stylizer">
                <input type="text" class="Input-text" required name="Lname" />
              </div>
            </div>
          </div>
          <div class="Input-Cont">
            <div class="Label-text">Username</div>
            <div class="Input-Stylizer">
              <input type="text" class="Input-text" required name="UserName" />
            </div>
          </div>
          <div class="Input-Cont">
            <div class="Label-text">Email</div>
            <div class="Input-Stylizer">
              <input type="email" class="Input-text" required name="Email" />
            </div>
          </div>
          <div class="Name-Cont">
            <div class="Input-Cont">
              <div class="Label-text">Password</div>
              <div class="Input-Stylizer">
                <input type="text" class="Input-text" required name="Password" />
              </div>
            </div>
            <div class="Input-Cont">
              <div class="Label-text">Confirm Password</div>
              <div class="Input-Stylizer">
                <input type="text" class="Input-text" required name="ConfirmPassword" />
              </div>
            </div>
          </div>
          <div class="signUP dev" id="Continue-dev">Continue</div>
        </div>
        <div class="signUP-form-Cont-2">
          <div class="Input-Cont">
            <div class="Label-text">Job Title</div>
            <div class="Input-Stylizer">
              <input type="text" class="Input-text" required name="JobTitle"/>
            </div>
          </div>
          <div class="Input-Cont">
            <div class="Label-text">Phone Number</div>
            <div class="Input-Stylizer">
              <input type="tel" class="Input-text" required name="PhoneNumber" />
            </div>
          </div>
          <div class="Input-Cont">
            <div class="Label-text">Birth Date</div>
            <div class="Input-Stylizer">
              <input type="date" class="Input-text" required name="BirthDate" />
            </div>
          </div>
          <div class="Input-Cont">
            <div class="Label-text">Area of Residence</div>
            <div class="Input-Stylizer">
              <input type="text" class="Input-text" required name="Address" />
            </div>
          </div>
          <button
            type="submit"
            form="form"
            value="Submit"
            class="signUP dev"
            id="Complete-dev"
          >
            Complete Sign up
          </button>
        </div>
      </form>

      <div class="sep">
        <svg
          width="157"
          height="464"
          viewBox="0 0 157 464"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            id="sep1"
            x1="156.015"
            y1="0.791237"
            x2="67.5089"
            y2="302.91"
            stroke="url(#paint2_linear)"
            stroke-width="2"
          />
          <line
            id="sep2"
            x1="0.985319"
            y1="463.209"
            x2="87.2156"
            y2="169.016"
            stroke="url(#paint1_linear)"
            stroke-width="2"
          />
          <defs>
            <linearGradient
              id="paint2_linear"
              x1="66.5492"
              y1="302.629"
              x2="155.055"
              y2="0.510101"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#D1D1D1" />
              <stop offset="1" stop-color="#D1D1D1" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="paint1_linear"
              x1="88.1752"
              y1="169.297"
              x2="1.94495"
              y2="463.49"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#D1D1D1" />
              <stop offset="1" stop-color="#D1D1D1" stop-opacity="0" />
            </linearGradient>
          </defs>
        </svg>
      </div>
    </div>
    <footer>BRYTE© - 2021 Copyrights Reserved</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script>
      document.querySelector("#sign-up-dev").addEventListener("click", ()=> {
        gsap.to("#sep1", { duration: 0.7, x: 55, y: -200, opacity: 0 });
        gsap.to("#sep2", { duration: 0.7, x: -55, y: 200, opacity: 0 });
        gsap.to(".Cont-Block.cli", { duration: 0.7, x: 500, opacity: 0 });
        gsap.to(`#${event.target.id}`, { duration: 0.1, y: 20, opacity: 0 });
        gsap.to(".Cont-Block.dev", { delay: 0.5, duration: 1, x: 840, y: 40 });
        gsap.to(".signUP-form-Cont-1", { delay: 1, duration: 0.4, y: -80});
        gsap.to(".signUP-form-Cont-1 .Input-Cont, #Continue-dev", { delay: 1, duration: 0.4, y:-80, opacity: 1, stagger: 0.1});
        gsap.to(".UnderLineTitle", { delay: 1, duration: 0.3, x:80, opacity: 1});
        document.querySelector(".signUP-form-Cont-1").style.pointerEvents = 'all';
      });
      document.querySelector("#Continue-dev").addEventListener("click", ()=> {
        gsap.to(".signUP-form-Cont-1", { delay: 0, duration: 0.4, y: 80});
        gsap.to(".signUP-form-Cont-1 .Input-Cont, #Continue-dev", { delay: 0, duration: 0.4, y:80, opacity: 0});
        document.querySelector(".signUP-form-Cont-1").style.pointerEvents = 'none';
        gsap.to(".signUP-form-Cont-2", { delay: 0.5, duration: 0.4, y: -80});
        gsap.to(".signUP-form-Cont-2 .Input-Cont, #Complete-dev", { delay: 0.4, duration: 0.4, y:-80, opacity: 1, stagger: 0.1});
        document.querySelector(".signUP-form-Cont-2").style.pointerEvents = 'all';
        gsap.to("circle", { duration: 0.5, fill: '#4B90F7'});
        document.querySelector(".TitleAbove").innerHTML = "Personal Info";
      });

      const form = document.querySelector('form');
      form.addEventListener('submit',async(e)=>{
        e.preventDefault();
        //get the values
        const Fname = form.Fname.value;
        const Lname = form.Lname.value;
        const UserName = form.UserName.value;
        const Email = form.Email.value;
        const Password = form.Password.value;
        const ConfirmPassword = form.ConfirmPassword.value;
        const JobTitle = form.JobTitle.value;
        const PhoneNumber = form.PhoneNumber.value;
        const BirthDate = form.BirthDate.value;
        const Address = form.Address.value;
        try{
          const res = await fetch('/signup',{
            method: 'POST',
            body: JSON.stringify({Fname,Lname,UserName,Email,Password,ConfirmPassword,JobTitle,PhoneNumber,BirthDate,Address}),
            headers: {'Content-Type': 'application/json'}
          });

          location.assign('/');
        }
        catch(err){
          console.log(err);
        }
      })


    </script>
  </body>
</html>
