a {
    -webkit-transition: 0.05s;
    transition: 0.05s;
    text-decoration: none;
    color: white;
    font-family: Consolas;
    font-style: normal;
    font-weight: normal; 
  }
  
  a:hover {
    color: #4b90f7;
  }
  
  /***Important****/
  #userfuckenname{
    color: #4feea0;
  }
  #userfuckenname:hover{
    color: #4b90f7 ;
  }

  
.Nav-Outer-Cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  
.Nav-Outer-Cont .logo-container {
    background-color: #10213a;
    min-width: 320px;
    padding: 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 0 0 40px 0;
    -webkit-box-shadow: 10px 4px 33px 15px rgba(0, 0, 0, 0.15);
            box-shadow: 10px 4px 33px 15px rgba(0, 0, 0, 0.15);
  }
  
.Nav-Outer-Cont .Nav-inner-Cont {
    background: -webkit-gradient(linear, left top, right top, from(#041a2d), color-stop(4%, #0e1d33));
    background: linear-gradient(to right, #041a2d, #0e1d33 4%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style: none;
    height: 90px;
    width: 100%;
    padding-right: 30px;
  }
  
.Nav-Outer-Cont .Nav-inner-Cont li {
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0 2%;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    font-family: Consolas;
    font-style: normal;
    font-weight: normal; 
  }
  
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #0E1D33;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: Consolas;
    font-style: normal;
    font-weight: normal; 
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    color: #4b90f7;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }