@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto;
}

a {
  -webkit-transition: 0.05s;
  transition: 0.05s;
  text-decoration: none;
  color: white;
}

a:hover {
  color: #4b90f7;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input[type="text"],
.Input-text {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: #eeeeee;
  font-size: 1.2rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 7px 6px;
  border-bottom: 1px solid #183662;
}

input[type="text"]:focus,
.Input-text:focus {
  border-bottom: 1px solid #385e92;
}

body {
  overflow: hidden;
  background-color: #020f22;
}




body .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
}

body .signUP {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: none;
  padding: 18px 32px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

body .signUP.dev {
  background: linear-gradient(70deg, #00bae4, #005de8);
}

body .signUP.dev:hover {
  -webkit-filter: brightness(0.8) contrast(1.7);
          filter: brightness(0.8) contrast(1.7);
}

body .signUP.cli {
  background: linear-gradient(70deg, #a5d100, #00c371);
}

body .signUP.cli:hover {
  -webkit-filter: brightness(0.8) contrast(1.7);
          filter: brightness(0.8) contrast(1.7);
}

body #Continue-dev,
body #Complete-dev,
body #Continue-cli,
body #Complete-cli {
  margin: 10px;
  min-width: 50%;
}

body footer {
  position: fixed;
  bottom: 2%;
  color: #717171;
  width: 100%;
  font-size: 0.8rem;
  text-align: center;
}

body .sep {
  left: 50%;
  -webkit-transform: translateX(-70%);
          transform: translateX(-70%);
  top: 23%;
}

body .Input-Cont,
body #Continue-dev,
body #Complete-dev {
  margin: 0;
  margin-top: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 400px;
}

body .Label-text {
  color: #aeaeae;
  margin: 2px 0;
}

body .Input-Stylizer {
  min-width: 290px;
  margin: 1px 0 7px 0;
  background-color: #00122c;
  padding: 3px 5px;
}

body .signUP-form-Cont-1 {
  top: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .UnderLineTitle {
  left: 0;
  font-size: 2rem;
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #eeeeee;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #183662;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
}
/*# sourceMappingURL=Login.css.map */

#invlaid{
  margin-top: 10px;
  color: red;
}